* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.challenge {
  border: 4px solid lightgray;
  width: 90%;
  margin: 20px auto;
}

.first {
  height: 200px;
}

.box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  margin: 0 20px;
}

.box-big {
  height: 150px;
  width: 150px;
  border: 4px solid lightgray;
}

.small-wrapper {
  display: flex;
}

.box-small {
  height: 100px;
  width: 100px;
  border: 2px solid lightgray;
  margin: 0 20px;
}

.secound {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secound-wrapper {
  width: 80%;
}

.title {
  width: 100%;
  border: 2px solid lightgray;
  height: 50px;
}

.box-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-small2 {
  border: 4px solid lightgray;
  height: 150px;
  width: 30%;
  margin-top: 20px;
}

.third {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box-wrapper3 {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-small3 {
  height: 30%;
  border: 2px solid lightgray;
}

.box-big3 {
  height: 300px;
  border: 2px solid lightgray;
  width: 48%;
}

.last {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiny-wrapper {
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.box-tiny {
  border: 2px solid lightgray;
  height: 100%;
  width: 30%;
}
